body {
    background-color: #eee;
}

.wrap > .container {
    padding: 70px 15px 20px;
}
.city {
    margin-top:40px;
}
.city .row {
    padding-bottom:20px;
    margin-bottom:20px;
    border-bottom: 1px solid #999;
}
